<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="code.name.monkey.retromusic">

    <application tools:ignore="MissingApplicationIcon">
        <activity android:name=".activities.PurchaseActivity"/>
    </application>
</manifest>
